* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.hero {
    height: 700PX;
    width: 100%;
    /* border: 2px solid; */
    position: relative;
    background-image: url(./IMSGES/WhatsApp\ Image\ 2023-12-20\ at\ 10.18.37_461957a2.jpg);
    background-size: cover;
    background-position: center;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;

}

.hero:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}



nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}

.hero h2 {
    position: relative;
    color: #ea1538;
    font-size: 28px;
    font-weight: 600;
}

nav ul li {
    list-style-type: none;
    display: inline;
    padding: 10px 20px;
}

nav ul li a {
    color: #ea1538;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: blue;
    transition: .3s;
    transform: scale(1.3);
    cursor: pointer;
}


.box {
    width: 50%;
    padding-left: 10%;
    padding-top: 10%;
}

.box button {
    margin: 5%;
    width: 23%;
    background-color: #ea1538;
    color: white;
    font-weight: bolder;
}


.box button:hover {
    color: rgb(255, 255, 255);
    background-color: blue;
    transition: .3s;
    transform: scale(1.3);
    cursor: pointer;
}

.box h1 {
    color: #ea1538;
}

.box p {
    color: #ea1538;
    font-weight: 700;
}

.card {
    margin-top: 5%;
    border: none;
}

.card h2 {
    text-align: center;
}



.icons i {
    padding-left: 20%;
    padding-top: 2%;
    font-size: small;
}

.icons a {
    text-decoration: none;
    color: black;
}

.card:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


#send button {
    margin: 5%;
    width: 23%;
    background-color: #ea1538;
    color: white;
    font-weight: bolder;
}

#send button:hover{
    color: rgb(255, 255, 255);
    background-color: blue;
    transition: .3s;
    transform: scale(1.3);
    cursor: pointer;
}


a{
    text-decoration: none;
    color: black;
}


@media(max-width:1004px){

    .hero h2{
    font-size: 15px;
    }

}

@media(max-width:803px){
    .box button {
        width: 60%;
        font-size: 10px;
    }

    #send button {
        width: 65%;
        font-size: 10px;
    }
}